@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #def7ec;
    --global-bg-2: #f4f5f7;
    --global-bg-3: #fde2e1;
    --global-bg-4: #fef3c7;
    --global-bg-5: #ffffff;
    --global-text-1: #03543f;
    --global-text-2: #1f2937;
    --global-text-3: #4b5563;
    --global-text-4: #92400f;
    --global-text-5: #981b1c;

    /* Header Colors */
    --header-bg-1: #ffffff;

    /* Dropdown Colors */
    --dropdown-text-1: #4b5563;

    /* Pagination Colors */
    --pagination-bg-1: #ffffff;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }

  /* Header */
  .bg-header-1 {
    background-color: var(--header-bg-1);
  }

  /* Dropdown */
  .text-dropdown-1 {
    color: var(--dropdown-text-1);
  }

  /* Pagination */
  .bg-pagination-1 {
    background-color: var(--pagination-bg-1);
  }
}